.searchReservation {
  margin: 2rem 7rem;
  cursor:text;
}
.usersBox {
  width: auto;
  height: auto;
  background-color: var(--color6Tr);
  border: groove 1px var(--color4Tr);
  box-shadow: 0px 0px 8px 4px var(--color6Tr);
  margin: 2rem 7rem;
  padding: 0.5rem;
  color: var(--color3Tr);
  overflow-x: auto;
}

@media screen and (max-width: 1024px) {
  .usersBox,
  .searchReservation {
    margin: 2rem 1rem;
  }
}

.listTitle {
  margin: 1rem;
}

.eye {
  color: var(--color3);
  text-decoration: none;
  background-color: var(--color6Tr);
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.tableTitle {
  color: var(--color4);
  padding: 3px 15px;
}
.tableCell {
  padding: 3px 15px;
  text-align: center;
}

.pointer {
  cursor:text;
}
.table {
  margin: auto;
  width: 100%;
}
