.searchCar {
    display: flex;
    justify-content: left;
    margin: 2.5rem 7rem 1rem 7rem;
    height: 4rem;
}
.inputSearch{
    height: 2.5rem;
    width: 20rem;
}
.inputSearch:hover {
    cursor: text;
}

.addButtons{
    display: flex;
    justify-content: left;
    height: 4rem;
    width: 100%;
    margin-left: 1.5rem;
}
.firstButton{
    width: 10rem;
}
.addButton{
    height: 2.5rem;
    margin-right: 1rem;
}



