.searchCar {
    display: flex;
    justify-content: left;
    margin: 2.5rem 7rem 0rem 7rem;
    
}
.inputSearch{
    height: 2.5rem;
    width: 20rem;
    margin-right: 1rem;
}
.inputSearch:hover {
    cursor: text;
}

.addButtons{
    display: flex;
    justify-content: right;
    height: 2.5rem;
    width: 100%;
    font-size: 0.8em;
}
.firstButton{
    width: 8rem;
    display: flex;
    justify-content: center;
}
.secondButton{
    width: 6rem;
    display: flex;
    justify-content: center;
}
.allButton{
    width: 5rem;
    display: flex;
    justify-content: center;
}
.order{
    height: auto;
    width: auto;
    border: outset 1px var(--color4Tr);
    padding: 0 0.4rem;
    color: var(--color4);
    background-color: var(--color6);
    font-family: var(--font2);
    box-shadow: none;
    font-size: small;
}





