.searchCar {
    display: flex;
    justify-content: left;
    margin: 2.5rem 7rem 1rem 7rem;
    height: 4rem;
}
.inputSearch{
    height: 2.5rem;
    width: 20rem;
}
.inputSearch:hover {
    cursor: text;
}

.addButtons{
    display: flex;
    justify-content: left;
    height: 4rem;
    width: 100%;
    margin-left: 1.5rem;
}
.firstButton{
    width: 10rem;
}
.addButton{
    height: 2.5rem;
    margin-right: 1rem;
}

.carsBox {
    width: auto;
    height: auto;
    background-color: var(--color6Tr);
    border: groove 1px var(--color4Tr);
    box-shadow: 0px 0px 8px 4px var(--color6Tr);
    margin: 1rem 7rem;
    padding: 0.5rem;
    color: var(--color3Tr);
}

.listTitle {
    display: flex;
    align-items: center;
    margin: 0.5rem 1rem;
    justify-content: space-evenly;
    color: var(--color4);
    font-size: 1.1em;
    height: 4rem;
}

.carListItem {
    display: flex;
    align-items: center;
    margin: 2rem 1rem;
    justify-content: space-evenly;

}

.brand {
    width: 12rem;
    display: flex;
    justify-content: center;

}

.plate {
    width: 20rem;
    display: flex;
    justify-content: center;
}
.dltTitle{
    width: 10rem;
    display: flex;
    justify-content: center;
}
.trashIcon {
    width: 10rem;
    display: flex;
    justify-content: center;
}

.trashIcon:hover {
    font-size: 1.3em;
    cursor: pointer;
}

.imgIcon {
    color: var(--color4);
    width: 4rem;
    max-height: 4rem;
    margin: 0px 0px 0px 24px;
    display: flex;
    
}
