.container {
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: var(--color6Tr);
  border: groove 1px var(--color4Tr);
  box-shadow: 0px 0px 8px 4px var(--color6Tr);
  margin: 2rem auto;
  padding: 0.5rem;
  font-size: small;
  font-family: var(--font2);
  color: var(--color3Tr);
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.title {
  font-size: medium;
  font-weight: 600;
}

.tag {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  height: 1.75rem;
  width: auto;
  border-radius: 0.2rem;
  border: none;
  padding: 0 0.4rem;
  color: var(--color4);
  background-color: var(--color8);
  font-family: var(--font2);
  box-shadow: none;
  font-size: small;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input:hover {
  box-shadow: none;
  border: none;
  font-weight: normal;
}

.input:focus {
  outline: none;
}

.create {
  margin-top: 2rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: var(--color4);
  color: var(--color3);
  width: 8rem;
  align-self: flex-end;
}

.create:hover {
  cursor: pointer;
  background-color: var(--color4Tr);
}
