.form {
  display: flex;
  flex-direction: column;
  width: auto;
  min-width: 40rem;
  max-width: 50rem;
  background-color: var(--color6Tr);
  border: groove 1px var(--color4Tr);
  box-shadow: 0px 0px 8px 4px var(--color6Tr);
  margin: 2rem auto;
  padding: 0.5rem;
}

.inputcontainer {
  display: flex;
  width: 100%;
  font-size: small;
  font-family: var(--font2);
  color: var(--color3Tr);
}

.firstsplit {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.secondsplit {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.tag {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taginfo {
  font-size: smaller;
  margin-bottom: 0.5rem;
  color: var(--color4);
}

.input {
  height: 1.75rem;
  width: auto;
  border-radius: 0.2rem;
  border: none;
  padding: 0 0.4rem;
  color: var(--color4);
  background-color: var(--color8);
  font-family: var(--font2);
  box-shadow: none;
  font-size: small;
}

.txtarea {
  width: auto;
  resize: none;
  border-radius: 0.2rem;
  border: none;
  padding: 0.4rem;
  color: var(--color4);
  background-color: var(--color8);
}

.txtarea:focus {
  outline: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input:hover {
  box-shadow: none;
  border: none;
  font-weight: normal;
}

.input:focus {
  outline: none;
}

.inputgroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.inputgroup input {
  width: 100%;
}

.groupcontainer {
  display: flex;
  flex-direction: column;
  max-width: 8rem;
}

.subinput {
  display: flex;
  flex-direction: column;
}

.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imageinput {
  display: flex;
  align-items: center;
}

.imageinput input {
  width: 100%;
  border-bottom-left-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.imageinput input:focus {
  box-shadow: none;
}

.imageinput button {
  border: none;
  box-shadow: none;
  display: flex;
  align-items: center;
  background-color: var(--color8);
  height: 1.75rem;
  text-align: center;
  padding: 0 0.5rem;
  margin: none;
  font-size: smaller;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  width: auto;
  color: var(--color4);
  border-left: 2px solid var(--color6Tr);
}

.imageinput button:hover {
  cursor: pointer;
}

.submit {
  display: flex;
  justify-content: end;
  margin-top: 0.5rem;
  width: 100%;
}

.create {
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  background-color: var(--color4);
  color: var(--color3);
}

.create:hover {
  cursor: pointer;
  background-color: var(--color4Tr);
}

.links {
  display: flex;
  flex-direction: column;
}

.equipment {
  width: auto;
  display: flexbox;
}

.selectionbutton {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color: var(--color2);
}

.selectionbutton:hover {
  cursor: pointer;
}

.link {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
