.select {
  border: outset 1px var(--color4);
  outline: none;
  padding: 0rem 0.5rem;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  width: 8rem;
  height: 2rem;
  margin-top: 5px;
}

.select:hover {
  cursor: pointer;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  align-self: flex-end;
}

.date {
  border: outset 1px var(--color4);
  outline: none;
  padding: 0rem 2px;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  width: 8rem;
  height: 2rem;
  margin-top: 3px;
}

.datefirst {
  margin-right: 10px;
}

.section {
  padding-right: 5px;
}

.dateSection {
  padding-right: 5px;
  display: flex;
}

@media (min-width: 1550px) {
  .filters {
    margin-right: 100px;
  }
}

@media (max-width: 1050px) {
  .filters {
    margin-top: 16px;
  }

}

@media (max-width: 440px) {
  .dateSection {
    display: flex;
    flex-direction: column;
  }
}