@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,400;1,500;1,600&family=Radio+Canada:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root{
  --color1: rgb(43, 45, 66);
  --color2: rgb(141, 153, 174);
  --color3: rgb(237, 242, 244);
  --color4: rgb(239, 35, 60);
  --color5: rgb(217, 4, 41);
  --color1Tr: rgba(43, 45, 66, 0.652);
  --font1: 'Space Grotesk', sans-serif;
  --font2: 'Montserrat', sans-serif;
  --font3: 'Verdana', sans-serif;
}
