.titles {
  font-family: var(--font2);
  font-size: 1rem;
  color: var(--color3);
  padding: 0;
  display: inline;
  transition: 0.2s;
}
.titles:hover {
  color: var(--color4);
}
.background {
  background-color: var(--color1);
}
.faq {
  padding: 20px;
  text-align: center;
  color: var(--color4);
  font-family:var(--font1)
}
.navLink {
  color: var(--color3);
  font-family: var(--font2);
  text-align: center;
}

.contentTitle {
  display: inline;
}
.text {
  color: var(--color3);
  padding: 0;
  font-family: var(--font1);
}

.content {
  border: 1px groove var(--color3Tr);
  border-radius: 5px;
  padding: 10px 10px;
  max-width: 50rem;
  margin: auto;

  
}

.arrow {
  color: var(--color3);
  padding-left: 10px;
}
