.faq {
  padding: 20px;
  text-align: center;
  color: var(--color4);
  font-family: var(--font2);
  font-weight: 400;
}
.bigContent{
  border: none;
  border-bottom: groove 1px var(--color3Tr);
  width: 50%;
  margin: auto;
  
}
.content {  
  display: flex;
  padding: 8px 10px;
  width: 97%;  
  align-items: center;
  justify-content: space-between;
  
}
.titles {
  font-family: var(--font2);
  font-size: 1.2rem;
  font-weight: 400;
  width: 95%;
  color: var(--color3Tr);
  padding: 8px 0px;
  display: inline;
  transition: 0.3s;
}

.titles:hover{
  color: var(--color4Tr);
}
.content:hover{
  cursor: pointer;
}
.flecha:hover {
  color: var(--color4Tr);
}
.flecha{
  color: var(--color3Tr);
  transition: all 0.5s;
}
.text {
  display: none;
  transition: all 0.5s;
}


.navLink {
  color: var(--color4);
  font-family: var(--font2);
  text-align: center;
}
.background2{
  margin:auto;
  margin-bottom: 3rem;
}

.checkbox{
  display: none;
}
.checkbox2{
  display: none;
}
.checkbox2:checked~.flecha{
  color: var(--color4);
  transform: rotate(0.25turn);
}
.checkbox2:checked~.content{
  color: var(--color4);
  transform: rotate(0.25turn);
  height: auto;
  z-index: 0;
}
.checkbox:checked~.text{
  display: flex;
  color: var(--color3);
  padding: 0.5rem;
  font-family: var(--font1);
  text-align: justify;
  font-size: 1.1em;
}
.checkbox2:checked~.titles{
  color: var(--color4);
}
@media (max-width: 800px){
  .bigContent{
    width: 90vw;
  }
  .content {    
    width: 85vw;  
    justify-content: space-between;
  }
  .titles {
    width: 78vw; 
    font-size: 1em;   
  }
  .checkbox:checked~.text{
    font-size: 1em;
  }
  .titles:hover{
    color: var(--color3Tr);
  }
}