.container {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;    
    font-family: var(--font2);
    font-size: 1rem;
    font-weight: 400; 
    max-width: 26em;
    line-height: 3rem;
}

.subContainer {
    display: flex;
    justify-content: center;
    height: 3rem;
}

.button {
    transition: 0.1s;
}

.container3 {
    display: flex;
    align-items: center;
}

.subContainer2 {
    margin: 1rem;
    max-width: 24em;
    justify-content: center;
}

.inputs {
    width: 60%;
    height: 1rem;
}

.labels {
    width: 40%;
}

.buttonAdd {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.buttonX {
    display: flex;
    justify-content: start;
    margin-top: 1rem;
    align-items: center;
}

.delete {
    transition: 0.1s;
    padding: 5px;
    padding-top:0;
    padding-bottom: 0;
    height: 1.5rem;
    margin-left: 1rem;
}

.delete:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 6px var(--color6Tr);
    font-weight: 500;
    border: outset 2px var(--color4);
}