.container {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;    
    font-family: var(--font2);
    font-size: 1rem;
    font-weight: 400; 
    line-height: 3rem;
}

.subContainer {
    display: flex;
    justify-content: center;
    height: 3rem;
}

.button {
    font-size: 0.9rem;
    transition: 0.1s;
}

.container3 {
    display: flex;
    align-items: center;
}

.subContainer2 {
    margin: 1rem auto;
    width:90%;
    justify-content: center;
}

.inputs {
    width: 60%;
    height: 2rem;
}
.inputs:hover{
    cursor: text;
}

.labels {
    width: 35%;
}

.buttonAdd {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.buttonX {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}

.delete {
    transition: 0.1s;
    padding: 5px;
    padding-top:0;
    padding-bottom: 0;
    height: 1.5rem;
    margin-left: 1rem;
}

.delete:hover {
    cursor: pointer;
    box-shadow: 0px 0px 8px 6px var(--color6Tr);
    font-weight: 500;
    border: outset 2px var(--color4);
}
@media (max-width: 700px){
    .container3{
        flex-direction: column;
    }
    .labels {
        width: 90%;
    }
    .inputs {
        width: 90%;
    }
}