.container {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem;
    flex-wrap: wrap;
}
.card{
    width: 25rem;
    box-shadow: 0 0 14px 2px var(--color6);
    border: ridge 1px var(--color4);
    margin: 1em;

}

.topCard {
    height: 3rem;
    width: 20rem;
    /* box-shadow: 0 0 8px var(--color4); */
    /* border-radius: 8px 8px 0 0; */
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    align-items: center;
    text-align: center;
    
    
}

.bottomCard {
    /* box-shadow: 0 0 8px var(--color4); */
    /* border-radius: 0 0 8px 8px;  */
    height: 10rem;
    width: 20rem;
    text-align: center;
    line-height: 2rem;
    padding: 1rem;
    margin: auto;  
}

.titleh {
    font-family: var(--font3);
    color: var(--color3);
    padding-bottom: 1rem;
}

.container1 {
    display: flex;
    align-items: center;
}


.subContainer1a {
    width: 50vw;


}

.img1 {
    width: 49.5vw;
}

.title {
    display: flex;
    justify-content: center;
}

.list {
    display: flex;
    justify-content: space-evenly;
    color: var(--color3);
    font-family: var(--font2);
    margin: 0;
}

.list ul{
    list-style-type: none;
    
}

.list li{
    padding: 0.35em;
    
}

.container2 {
    display: flex;
    align-items: center;
}



.img2 {
    width: 49.5vw;
}

.subContainer2a {
    width: 75%;
    padding: 2rem;
    line-height: 1.5rem;
    text-align: justify;

}

.paragraph {
    font-family: var(--font2);
    color: var(--color3);
}

.container3 {
    padding-top: 3rem;
}

.benefit {
    display: flex;
    width: 100%;
    justify-content: center;
}

.benefits1 {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.benefits1 div {
    width: 300px;
    line-height: 1.5rem;
    text-align: justify;
}


.benefits2 {
    padding-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.benefits2 div {
    width: 300px;
    line-height: 1.5rem;
    text-align: justify;
} 

.links {
    text-decoration: none;
    color: var(--color3);
} 

.links:hover {
    color: var(--color4);
}

@media (max-width: 800px) {
    .container1{
    display: flex;
    flex-direction: column-reverse;
    }
    .container1 .img1{
        width: 97vw;
        height: auto;
        padding-bottom: 1.5em;
    }
    .container2{
        display: flex;
        flex-direction: column;
        }
        .container2 .img2{
            width: 97vw;
            height: auto;
            padding-top: 1.5em;
        }
    .subContainer1a{
        width: 90vw;
    }
    /* .card {
        width: 99vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .topCard{
    padding: 0;
    padding-top: 1.5em;
    margin: 0;

    }
    .bottomCard{
        margin: 0;
        padding: 0;
    } */
    /* .subContainer1a {
        width: 100vw;
    } */

}

