.searchUser {
  display: flex;
  justify-content: left;
  margin: 2rem 7rem;
}

.inputSearch {
  background-color: var(--color6Tr);
}

.inputSearch:hover {
  cursor: text;
}

.usersBox {
  width: auto;
  height: auto;
  background-color: var(--color6Tr);
  border: groove 1px var(--color4Tr);
  box-shadow: 0px 0px 8px 4px var(--color6Tr);
  margin: 2rem 7rem;
  padding: 0.5rem;
  color: var(--color3Tr);
}

.listTitle {
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-evenly;
  color: var(--color4);
  font-size: 1em;
}

.userListItem {
  display: flex;
  align-items: center;
  margin: 1rem;
  justify-content: space-evenly;

}

.name {
  width: 12rem;
  display: flex;
  justify-content: center;

}

.email {
  width: 20rem;
  display: flex;
  justify-content: center;
}

.trashIcon {
  width: 10rem;
  display: flex;
  justify-content: center;

}

.trashIcon:hover {
  font-size: 1.3em;
  cursor: pointer;
}

.imgIcon {
  color: var(--color4);
  width: 2.5rem;
  height: 2.5rem;
  margin: 0px 0px 0px 24px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  font-size: 1.2em;
  font-weight: 700;

}

.alertContainer {
  text-align: center;
  align-items: center;
  font-family: var(--font2);
  position: fixed;
  top: 30%;
  left: 35vw;
  height: 30vh;
  width: 30vw;
  background-color: var(--color1);
  color: var(--color4);
    width: 2.5rem;
    height: 2.5rem;
    margin: 0px 0px 0px 24px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    font-size: 1.2em;
    font-weight: 700;
   
}
.searchUser{
  display: flex;
  justify-content: left;
  margin: 2rem 7rem;
 
  z-index: 10;
  border: groove 1px var(--color4Tr);
  border-radius: 0px;
  box-shadow: 0px 0px 8px 4px var(--color6Tr);
}

.Xcont{
  display: flex;
  justify-content: right;
  height: 4rem;
}
.Xbton{
  border: none;
  margin: 0rem 1rem;
  color: var(--color4);
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  font-family: var(--font2);
  font-size: 1.4em;
}
.dltBton{
  margin-top: 2rem;
}

.sureTxt{
  font-size: 1.2em;
  font-weight: 400;
  margin: 0 2em 0 2em;
}