.citySelect {
  margin: 4px 8px;
  width: 20rem;
  height: 33px;
  max-width: 80%;
  font-size: 1.2em;
}
.options{
  display: flex;
  justify-content: center;
  margin: auto;
}

@media (max-width: 800px) {
  .citySelect {
    max-width: 80%;

  }

  .options {
    max-width: 80%;
  }
}