.alert{
    position: fixed;
    background-color: #00000094;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

}


.slCityT {
    margin-left: 3rem;
    height: 100%;
    color: var(--color3);
    font-family: var(--font1);
    font-size: 1.3rem;
    font-weight: 300;
    align-content: center;
    padding-top: 4px;
}

.goBtn {
    width: 40px;
    height: 33px;
    margin-left: 4px;
    padding: 0;
}

.slctBar {
    width: 90vw;
    height: 2rem;
    display: flex;
    align-items: center;
    align-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    
}