.profile {
  margin: 20px auto;
  padding: 2rem;
  max-width: 30rem;
  display: flex;
  justify-content: center;
}
.titles {
  color: var(--color3);
  font-family: var (--font2);
  justify-content: center;
  font-size: 16px;
}

.inputs {
  width: 400px;
  height: 30px;  
  box-sizing: content-box; 
  margin-bottom: 10px;
  margin-top: 5px;
  padding:1px 5px;
}
.inputs:hover{
  cursor: text;
}
.inputsS{
  width: 400px;
  height: 30px;  
  box-sizing: content-box; 
  margin-bottom: 10px;
  margin-top: 5px;
  padding:1px 5px;
}

.buttonContainer{
  height: 3rem;
  text-align: center;
  padding: 30px;
}
.helloP {
  font-family: var(--font2);
  color: var(--color4);
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.validations {
  font-family: var(--font2);
  color: var(--color4);
  font-size: 10px;
  margin-bottom: 5px;
  margin-top:-5px;
}

.messages {
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
  color: var(--color4);
  font-size: 20px;
  font-family: var(--font2);
}
.buttonProfile{
  border: outset 2px var(--color4);
  background-color: var(--color1);
  border-radius: 0px;
  font-family: var(--font2);
  font-weight: 400;
  font-size: 1em;
  color: var(--color4);
  box-shadow: 0px 0px 8px 2px var(--color6Tr);
  transition: 0.1s;
  padding: 10px;
  margin-left:20px;
}


