.profile {
  margin: 20px auto;
  padding: 2rem;
  width: 30vw;
}
.titles {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color4);
}
.tag{
  height: 4rem;
  width: 98%;
  margin: auto;
}

.inputs {
  width: 100%;
  height: 30px;  
  box-sizing: content-box; 
  margin-bottom: 10px;
  margin-top: 5px;
  padding:1px 5px;
}
.inputs:hover{
  cursor: text;
}

/* .inputs:-webkit-autofill { 
  -webkit-background-clip: text;
} */
.inputsS{
  width: 100%;
  height: 30px;  
  box-sizing: content-box; 
  margin-bottom: 10px;
  margin-top: 5px;
  padding:1px 5px;
}

.buttonContainer{
  height: 3rem;
  margin-top: 2rem;
  text-align: center;
  justify-content: space-around;
}
.helloP {
  font-family: var(--font2);
  color: var(--color4);
  font-size: 1.3em;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}
.validations {
  font-family: var(--font2);
  color: var(--color4);
  font-size: 10px;
  margin-bottom: 5px;
  margin-top:-5px;
}

.messages {
  text-align: center;
  margin-top:20px;
  margin-bottom:20px;
  color: var(--color4);
  font-size: 20px;
  font-family: var(--font2);
}
.buttonProfile{
  margin: 0 10px;
  font-size: 0.9em;
}
.buttonProfile:hover{
  margin: 0 9px;
}
.submit{
  font-size: 0.9rem;
}

@media (max-width: 800px){
  .profile {
    width: 70vw;
  }
  
  .tag {
    width: 90%;
    
  }
}



