.footer {
  background-color: #242424;
  margin-top: auto;
  color: var(--color3);
  display: flex;
  padding: 10px;
  align-items: center;
  height: 16rem;
}

.navLinks {
  color: var(--color3);
  font-family: sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  margin-left: 15rem;
}
.links {
  display: flex;
  padding-right: 50px;
  flex-direction: column;
}
.icons {
  font-family: sans-serif;
  font-size: 1.2em;
  margin-left: 10rem;
}
.info {
  padding: 5px 0;
}
.icon {
  display: inline-block;
  padding: 5px;
}
.map {
  border-left: 1px groove var(--color3);
  padding: 2rem;
  width: 25vw;
  padding-left: 1rem;
  margin-left: 15rem;
}
.mapContainer {
  width: 300px;
  height: 200px;
  border-radius: 4px;
  width: 25vw;
  margin: auto;
  margin-left: 3rem;
}
