.footer {
  background-color: var(--color6);
  margin-top: auto;
  color: var(--color3);
  display: flex;
  padding: 10px;
  align-items: center;
  height: 16rem;
  justify-content: space-evenly;
  flex-wrap: wrap;

  
}

.navLinks {
  
  color: var(--color3);
  font-family: sans-serif;
  font-size: 1.2em;
  text-decoration: none;
  padding: 5px 0;
  display: inline-block;
  margin-right: 13rem;
  
}
.links {
  display: flex;
  padding-right: 50px;
  flex-direction: column;
}
.icons {
  font-family: sans-serif;
  font-size: 1.2em;
  margin-right: 10rem;
}
.info {
  padding: 5px 0;
}
.icon {
  display: inline-block;
  padding: 5px;
}
.map {
  border-left: 1px groove var(--color3);
  padding: 2rem;
  /* width: 30%; */
  padding-left: 1rem;
  /* margin-left: 15rem; */
}
.mapContainer {

  height: 200px;
  border-radius: 4px;
  width: 25vw;
  margin: auto;
  margin-left: 3rem;
}
