.alertContainer {
  text-align: center;
  align-items: center;
  font-family: var(--font2);
  position: fixed;
  top: 30%;
  left: 35vw;
  height: fit-content;
  width: 30vw;
  max-width: 500px;
  max-height: 300px;
  background-color: var(--color6);
  z-index: 1000;
  color: var(--color4);
  padding-bottom: 20px;

}

.all {
  height: 100vh;
  width: 100vw;
}

.tittle {
  margin: 1.5em 1em 0.5em 1em;
  font-size: 1.4em;
  font-weight: 400;
  color: var(--color4)
}

.homeBtn {
  margin-top: 12px;
}

@media (max-width: 1150px) {
  .alertContainer {
    width: 90vw;
    margin: auto;
    left: 0;
    right: 0;
  }

}