.container {    
    padding: 2rem;
    display: flex;
    justify-content: center;
    width: 35vw;
    margin: 3rem auto;
}
.rentForm{
    width: 100%;
}
.title {
    display: flex;
    justify-content: center;
    color: var(--color4);
}
.locationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-top: 1rem;
}
.error{
    width: 100%;
    color: var(--color4);
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.selectBox {
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.tag {
    color: var(--color3Tr);
    padding: 4px;
}
.tagN{
    color: var(--color4);
    padding: 4px;
}
.selects {
    outline: none;
    padding: 4px;
    font-size: 0.9rem;
}

.subContainerEquipment {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: var(--font2);
    font-size: 1rem;
    font-weight: 400;
    outline: none;
    line-height: 2rem;
}
.dateBox{
    height: 3rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
}
.calendar {
    display: flex;
    justify-content: space-around;
}

.container2 {
    justify-content: left;
    margin-top: 2rem;
}

.terms {
    font-weight: bold;
    cursor: pointer;
    color: var(--color4);
}

.colum1 {
    width: 8rem;
}

.colum2 {
    width: 4rem;
    text-align: end;
}

.termsConditions {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.buttonRent {
    margin: 2rem;
    display: flex;
    justify-content: center;
    height: 3rem;
    font-size: 0.9rem;
}

.total2 {
    display: flex;
    justify-content: center;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;

}

.selectBox {
    height: 12px;
}

.selects:hover {
    /* cursor: pointer;
    box-shadow: 0px 0px 8px 6px var(--color6Tr);
    font-weight: 500; */
    border: none;
}

.locationContainer {
    display: flex;
    justify-content: left;
    align-items: center;
}

.date {

    outline: none;
    padding: 4px;
    background-color: var(--color6);
    font-family: var(--font2);
    font-size: 1rem;
    font-weight: 400;
    border: 0;
}

.date input {
    color: var(--color3);
}

.date p {
    color: var(--color3);
}

.date select {
    background-color: var(--color1);
    font-family: var(--font2);
    color: var(--color3);
}

.checkbox {
    width: 1.5em;
    height: 1.5em;
    align-items: center;
    margin-right: 1em;
}

/*
.date button:hover {
    cursor: pointer;
    box-shadow: none;
}

.date input {
    border: outset 1px var(--color4);
    outline: none;
    padding: 4px;
    background-color: var(--color1);
    box-shadow: none;
    font-family: var(--font2);
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--color3);
}

.date input:hover {
    cursor: pointer;
    box-shadow: none;
    font-weight: 500;
    border: outset 2px var(--color4);
} */

.warningContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.warningIcon {
    font-size: 80px;
    color: var(--color4Tr)
}

.warning {
    width: 10vw;
}

.warningText {
    margin-left: 30px;
}

.warning2 {
    text-align: start;
    font-family: var(--font2);
    font-size: 1.5em;
    color: var(--color4Tr);
    font-weight: bold;
}

@media (max-width: 700px) {
    .container {    
        width: 90vw;
        margin: 3rem auto;
        padding: 0;
        padding-top: 1rem;
    }
    .rentForm{
        width: 85vw;
        margin: auto;
    }
    .locationContainer {
        flex-direction: column;
        margin: 2rem auto;
        margin-bottom: 0.5rem;
        height: 4rem;
    }
    .error{
        margin-bottom: 1rem;
    }
    .selectBox {
        height: 3rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    .locationBox{
        width: 80vw;
    }
    .tag {
        display: flex;
    }
    
}