.selections {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 3rem;
  border-bottom: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid black;
}

.title {
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  padding-left: 3rem;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 3rem;
}

.cardsScreen {
  background-color: var(--color3);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* align-content: space-around; */
  min-height: 90vh;
  max-width: 99vw;
}