.selections {
  display: flex;
  justify-content: space-between;
  background-color: var(--color1);
  padding: 0.5rem 3rem;
  border-bottom: 1px solid var(--color3Tr);
  color: var(--color3);
}

.title {
  align-items: center;
  font-family: var(--font2);
  font-size: 2rem;
  font-weight: 500;
  color: var(--color4);
  padding-left: 3rem;
  background-color: var(--color1);
  padding: 0.5rem 3.5rem;
}

.cardsScreen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  min-height: 90vh;
  max-width: 99vw;
}