.authBox{
    display:flex;
    position: fixed;
    width: 20rem;
    background-color: var(--color1);
    top: 4.5rem;
    right: 1.5rem;
    border: ridge 1px var(--color6);;
    border-radius:  0px;
    box-shadow: 0px 0px 8px 4px var(--color6Tr);
}
.authBox2{
    width: 20rem;
}

.hello{
    color: var(--color4);
    font-family: var(--font2);
    font-size: 1.7em;
    font-weight: 400;
    margin: 24px 0px 8px 0px;
    text-align: center;
}

.welcome{
    color: var(--color3);
    font-family: var(--font2);
    font-size: 1.3em;
    font-weight: 200;
    margin: 8px 0px 16px 0px;
    text-align: center;
}

.exclam{
    text-align: center;
    color: var(--color4);
    font-family: var(--font2);
    font-size: 1.2em;
    font-weight: 400;   
    margin: 8px 4px 8px 4px; 
}
.msg{
    text-align: center;
    color: var(--color3);
    font-family: var(--font2);
    font-size: 1em;
    font-weight: 300;
    padding: 0;
    margin: 8px 24px;
}

.link{
    display: flex;
    /* text-decoration:underline; */
    font-family: var(--font2);
    color: var(--color4);
    margin: 24px 0px;
    justify-content: center;
}

.btnCont{
    display:flex;
    justify-content: center;
}
.logBtn{
    margin: 24px 0px 24px 0px;
}