.authBox{
    display:flex;
    position: fixed;
    width: 20rem;
    background-color: var(--color1);
    top: 4.5rem;
    right: 1.5rem;
    border: solid 2px var(--color4);
    border-radius:  4px;
    box-shadow: 0px 0px 8px 0px var(--color4Tr);
}

.hello{
    color: var(--color4);
    font-family: var(--font2);
    font-size: 2em;
    font-weight: 500;
    margin: 16px 0px 8px 0px;
    text-align: center;
}

.welcome{
    color: var(--color3);
    font-family: var(--font2);
    font-size: 1.5em;
    font-weight: 500;
    margin: 8px 0px 16px 0px;
    text-align: center;
}

.exclam{
    text-align: center;
    color: var(--color4);
    font-family: var(--font2);
    font-size: 1.3em;
    font-weight: 400;   
    margin: 8px 4px 8px 4px; 
}
.msg{
    text-align: center;
    color: var(--color3);
    font-family: var(--font2);
    font-size: 1.1em;
    font-weight: 400;
    padding: 0;
    margin: 8px 24px;
}

.link{
    display: flex;
    /* text-decoration:underline; */
    font-family: var(--font2);
    color: var(--color4);
    margin: 24px 0px;
    justify-content: center;
}

.btnCont{
    display:flex;
    justify-content: center;
}
.logBtn{
    margin: 0px 0px 16px 0px;
    border: solid 2px;
    border-color: var(--color1);
    background-color: var(--color4);
    border-radius: 4px;
    font-family: var(--font2);
    font-weight: 900;
    font-size: 1.1em;
    color: var(--color1);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.309);
    /* transition: 0.5s; */
    
}