.alert {
  position: fixed;
  background-color: #00000094;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.alertContainer {
  text-align: center;
  align-items: center;
  font-family: var(--font2);
  position: fixed;
  top: 30%;
  left: 35vw;
  height: fit-content;
  width: 30vw;
  background-color: var(--color6);
  color: var(--color3Tr);
  border: groove 1px var(--color4Tr);
  box-shadow: 0px 0px 8px 4px var(--color6Tr);
}

.all {
  width: 100vw;
  height: 100vh;
}

.dltBton {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.sureTxt {
  font-size: 1.1em;
  font-weight: 400;
  margin: 2.5em 2em 0 2em;
}

@media (max-width: 800px) {
  .alertContainer {
    width: 90vw;
    margin: auto;
    left: 0;
    right: 0;
    height: fit-content;
  }

}