.alert {
  position: fixed;
  background-color: #00000094;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.alertContainer {
  text-align: center;
  align-items: center;
  font-family: var(--font2);
  position: fixed;
  top: 30%;
  left: 35vw;
  height: 35vh;
  width: 30vw;
  background-color: var(--color6);
  color: var(--color3Tr);
}
.all {
  width: 100vw;
  height: 100vh;
}
.dltBton {
  margin-top: 2.5rem;
}
.sureTxt {
  font-size: 1.1em;
  font-weight: 400;
  margin: 2.5em 2em 0 2em;
}
