.container {
    background-color: var(--color1);
}

.titleh {
    font-family: var(--font3);
    color: var(--color3);
}

.paragraph {
    font-family: var(--font2);
    color: var(--color3)
}

.container1 {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subContainer1a {
    padding: 3rem;
    width: 50%;
    line-height: 2rem;
    text-align: justify;
}

.buttonContact {
    display: flex;
    justify-content: center;
}


.goHomeb:hover {
    background-color: var(--color4Tr);
}

.subContainer1b {
    width: 50%;
}

.img1 {
    width: 49.5vw;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subContainer2b {
    padding: 3rem;
    width: 50%;
    line-height: 2rem;
    text-align: justify;
}

.img2 {
    width: 49.5vw;
}

.button2 {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding-bottom: 4rem;
}

@media (max-width: 800px) {
    .container1{
        flex-direction: column-reverse;
        font-size: 0.8em;
    }
    .container2{
        flex-direction: column;
        font-size: 0.8em;
    }
    .img1{
        width: 100vw;
    }
    .img2{
        width: 100vw;
    }
    .subContainer1b {
        width: 100%;
    }
    .subContainer1a{
        line-height: 1.5rem;
        width: 80%;
        padding: 0;
        padding-top: 2.5em;
         padding-bottom: 2.5em;
    }
    .subContainer2b{
        line-height: 1.5rem;
        width: 80%;
        padding: 0;
        padding-top: 2.5em;
          padding-bottom: 2.5em;
    }


}