.container {
  padding: 1rem 7rem;
  position: relative;
  font-family: var(--font1);
}

.mainimagecontainer {
  width: 100%;
  height: 30rem;
  padding: 0 auto;
}

.mainimage {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 70%;
  height: 100%;
  box-shadow: 1px 13px 24px -6px rgba(0, 0, 0, 0.69);
}

.options {
  width: 100%;
  display: flex;
  height: auto;
  padding: 1rem 0;
}

.carinfo {
  padding: 1rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

.text {
  font-size: 1.2rem;
  text-align: justify;
  color: var(--color3);
}

.moreinfo {
  width: 100%;
}

.accessories {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color3Tr);
}

.caroptions {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.reserve {
  font-size: 2rem;
  width: 100%;
  padding: 0.5rem 3rem;
}

.extraimages {
  width: 90%;
  height: 20rem;
  display: flex;
  margin: 0 auto;
}

.first {
  width: 100%;
  height: 100%;
}

.one {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.second {
  width: 100%;
  height: 100%;
}

.firstsplit {
  padding: 0 0.2rem;
  height: 50%;
}

.two {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.secondsplit {
  height: 50%;
  padding: 0 0.2rem;
  margin-top: 0.2rem;
}

.three {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.third {
  width: 100%;
  display: flex;
  height: 100%;
}

.thirdsplit {
  padding: 0 0.2rem;

  height: 100%;
}

.four {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.fourthsplit {
  height: 100%;
  padding: 0 0.2rem;
}

.five {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.starsCont {
  display: flex;
  font-size: 2rem;
  color: var(--color4);
  align-items: center;
  justify-content: center;
}
