.container {
  /* padding: 1rem 7rem; */
  position: relative;
  font-family: var(--font1);
  padding: 0;
  margin: 0;
}

.carName {
  font-size: 2rem;
  font-family: var(--font1);
  margin: 30px 0 0;
  text-align: center;
  color: var(--color2);
}

.flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.infoAndStarsContainer{
  display: flex;
  padding: 1rem;
  width: calc(40vw - 1rem);
  max-width: calc(600px - 1rem);
}

.infoAndStars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color6);
  border-radius: 5px;
  padding: 2rem;
}

.mainimagecontainer {
  width: 100%;
  padding: 0;
  margin: 15px 0 0;
  height: auto;
  display: flex;
  flex-direction: column;
}

.mainimage {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 70%;
  height: 100%;
  box-shadow: 1px 13px 24px -6px rgba(0, 0, 0, 0.69);
}

/* .mainimage {
  width: 100vw;
  height: 80%;
  object-fit: cover;
} */

.options {
  width: 100%;
  margin: auto;
  /* display: flex; */
  height: auto;
  padding: 1rem 0;
  /* flex-direction: column; */
  /* align-items: center; */
}

/* .carinfo {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  
} */

.text {
  font-size: 1.4rem;
  text-align: justify;
  color: var(--color2);
  /* width: 40vw; */
  /* max-width: 600px; */
}

/* .moreinfo {
  width: 100%;
} */

.accessories {
  width: 40vw;
  height: 85%;
  max-width: 600px;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

.rating {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--color3Tr);
}

.caroptions {
  padding: 1rem;
  /* display: flex; */
  margin: auto;
  /* align-items: center; */
  height: 5rem;
  width: fit-content;
}

.reserve {
  height: fit-content;
  font-size: 1.6rem;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.extraimages {
  width: 98%;
  height: 20rem;
  display: flex;
  margin: 0 auto;
  margin-bottom: 0.4rem;
}

.first {
  width: 100%;
  height: 100%;
}

.one {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: calc(100% + 0.2rem);
}

.second {
  width: 100%;
  height: 100%;
}

.firstsplit {
  padding: 0 0.2rem;
  height: 50%;
}

.two {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.secondsplit {
  height: 50%;
  padding: 0 0.2rem;
  margin-top: 0.2rem;
}

.three {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.third {
  width: 75%;
  display: flex;
  height: 100%;
  margin: 0;
}

.thirdsplit {
  padding: 0 0.2rem;
  height: 100%;
}

.four {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: calc(100% + 0.2rem);
}

.fourthsplit {
  height: 100%;
  /* padding: 0 0.2rem; */
}

.five {
  display: block;
  margin: auto;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.starsCont {
  margin-top: 10px;
  display: flex;
  font-size: 2rem;
  color: #ca9600;
  align-items: center;
  justify-content: center;
}




@media (min-width: 1740px) {
  .flex {
    max-width: 70vw;
  }
}


@media (max-width: 1200px) {
  .container {
    padding: 0;
    margin: 0;
  }

  .mainimagecontainer {
    padding: 0;
    margin: 0;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .mainimage {
    width: 100vw;
    height: auto;
    object-fit: cover;
  }

  .flex {
    justify-content: space-around;
  }
  

  .extraimages {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
  }

  .extraimages img {
    width: 100vw;
    padding: 0;
  }

  .firstsplit {
    padding: 0;
  }

  .secondsplit {
    padding: 0;
    margin-top: 0;

  }

  .thirdsplit {
    padding: 0;
  }

  .fourthsplit {
    padding: 0;
  }

}

@media (max-width: 1050px) {
  .options {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .infoAndStarsContainer {
    width: calc(95vw - 2rem);
  }
  /* infoAndStarsContainer */
    
  
  /* infoAndStars  */

  /* .moreinfo {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;

  } */

  .accessories {
    width: 95vw;
    padding: 0;
    margin: 0;
    align-items: center;
  }

}